.grid-container {
  position: relative;
  align-items: center; /* Changed from 'left' to 'center' */
  justify-content: center; /* Changed from 'left' to 'center' */
  margin-top: 60px;
}

/* Updated ui-container to center align items */
.ui-container {
  display: relative;
  align-items: center; /* Changed from 'right' to 'center' */
  justify-content: center; /* Changed from 'right' to 'center' */
  margin: 10% auto; /* Centered horizontally and adjusted margin */
}

.instructions {
  background-color: var(--background-color);
  border: 5px solid var(--invert-background-color);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

  .navbar {
    overflow: hidden;
    background-color: var(--background-color);
    width: 100%;
    position: fixed;
    top: 0;
  }

  .navbar a {
    float: left;
    display: block;
	font-size: 20px;
    color: var(--text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: var(--invert-background-color);
    color: var(--invert-text-color);
  }



.instructions h2 {
  font-size: 1.5em;
  color: var(--text-color);
}

.instructions p {
  font-size: 1em;
  color: var(--text-color);
}

.custom-link {
  color: var(--text-color);
}

.footer {
  overflow: hidden;
  background-color: var(--background-color);
  width: 100%;
  position: fixed;
  z-index: 1000;
  text-align: center;
  bottom: 0;
}

.footer p {
  margin: 0;
  font-size: 16px;
  padding: 10px;
  color: var(--text-color);
  line-height: 20px;
}


:root {
  --text-color: rgba(244, 244, 244, 1);
  --background-color: rgba(51, 51, 51, 1);
  --cell-background-color: rgba(71, 71, 71, 1);
  --invert-text-color: rgba(51, 51, 51, 1);
  --invert-background-color: rgba(244, 244, 244, 1);
  /* --win-background-color: rgba(244, 244, 244, 0.6); */
  --win-background-color: rgba(196, 130, 216, 0.6);
}

.light-theme {
  --text-color: rgba(10, 10, 10, 1);
  --background-color: rgba(244, 244, 244, 1);
  --cell-background-color: rgba(234, 234, 234, 1);
  --invert-text-color: rgba(244, 244, 244, 1);
  --invert-background-color: rgba(51, 51, 51, 1);
  --win-background-color: rgba(196, 130, 216, 0.6);
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 4% 2%; /* Adjusted padding for better spacing */
  display: block; /* Changed from 'flex' to 'block' */
  min-height: 100vh;
  overflow: auto; /* Changed from 'hidden' to 'auto' for scrolling */
}


h1 {
  float: left;
    padding-right: 40px;
    margin: 0;
    font-size: 36px;
    text-align: left;
    color: var(--text-color);
}

.bingo-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(145px, 1fr)); /* Responsive grid columns */
  grid-gap: 10px;
  width: 90%; /* Adjusted width for better scaling */
  margin: 0 auto; /* Centered horizontally */
  padding: 15px;
  border: 4px solid var(--invert-background-color);
  border-radius: 8px;
  border-style: solid;
  border-width: 5px;
}

/* Updated bingo-cell for better scaling */
.bingo-cell {
  position: relative;
  border: 4px solid var(--invert-background-color);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: initial; /* Corrected typo 'inital' to 'initial' */
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10%;
  word-wrap: break-word;
  background-color: var(--cell-background-color);
  transition: background-color 0.3s;
  aspect-ratio: 1/1;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.bingo-cell:hover {
  background-color: #b589c2;
}

.bingo-cell img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.bingo-cell.crossed {
  color: #771593;
  background-color: #9D63AF;
  font-style: italic;
}

#newGameBtn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

#themeButton {
background-color: var(--invert-background-color);
color: var(--invert-text-color);
  border: none;
  margin-top: 20px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

#newGameBtn:hover {
  background-color: #45a049;
}

#themeButton:hover {
  background-color: gray;
}

#winMessage {
  display: none;
  box-sizing: border-box;
  padding-top: 50%; /* Adjusted padding for vertical centering */
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 10px;
  color: rgba(0, 191, 67, 1);
  text-shadow: 4px 4px rgba(51, 51, 51, 1);
  position: fixed; /* Changed from 'absolute' to 'fixed' for better centering */
  top: 50%; /* Centered vertically */
  left: 50%; /* Centered horizontally */
  transform: translate(-50%, -50%); /* Centered both vertically and horizontally */
  z-index: 9999;
}

#closeText {
	position: absolute;
	top: 1%;
	right: 1%;
    width: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	background: rgba(255, 0, 0, 1);
	box-shadow: 1px 1px 3px black;
	border-radius: 4px;
	font-size: 18px;
	color: rgba(244, 244, 244, 1);
	font-weight: bold;
	text-shadow: none;
	-webkit-text-stroke: initial;
	letter-spacing: 0px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	transition: background-color 0.2s;
}

#closeText:hover {
	background: rgba(222, 0, 0, 1);
}