.grid-container {
  display: relative;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100vh;
}

.ui-container {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  height: 10vh;
  margin-left: 10%;
  margin-top: 10%;
  margin-right: 10%;
}

.instructions {
  background-color: var(--background-color);
  border: 5px solid var(--invert-background-color);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.instructions h2 {
  font-size: 1.5em;
  color: var(--text-color);
}

.instructions p {
  font-size: 1em;
  color: var(--text-color);
}

.custom-link {
  color: var(--text-color); /* Change the color to blue */
}

:root {
  --text-color: #f4f4f4;
  --background-color: #333;
  --invert-text-color: #333;
  --invert-background-color: #f4f4f4;
}

.light-theme {
  --text-color: #333;
  --background-color: #f4f4f4;
  --invert-text-color: #f4f4f4;
  --invert-background-color: #333;
}

body {
	color: var(--text-color);
  background-color: var(--background-color);
  padding-left: 8%;
  display: flex;
  min-height: 100vh;
  font-family: 'Helvetica Neue', sans-serif;
}

h2 {
  font-size: 40px;
  text-align: left;
  color: var(--text-color);
}

.bingo-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 140px);
  grid-gap: 6px;
  margin-right: 10px;
  width: 100%;
}

.bingo-cell {
  position: relative;
  border: 4px solid var(--invert-background-color);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10%;
  word-wrap: break-word;
  background-color: var(--background-color);
  transition: background-color 0.3s;
  aspect-ratio: 1/1;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.bingo-cell img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.bingo-cell.crossed {
  color: #771593;
  background-color: #9D63AF;
  font-style: italic;
}

#newGameBtn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

#themeButton {
background-color: var(--invert-background-color);
color: var(--invert-text-color);
  border: none;
  margin-top: 20px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

#newGameBtn:hover {
  background-color: #45a049;
}

/* #winMessage {
  height: 100%;
  width: 100%;
  font-size: 100px;
  color: green;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 5px solid;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 2s;
} */

.win-message {
  position: relative;
  display: inline;
  margin-right: 10px;
  width: 100%;
}

#winMessage {
  font-size: 100px;
  color: green;
  position: absolute;
  top: 50%; /* Position the message in the center vertically */
  left: 50%; /* Position the message in the center horizontally */
  transform: translate(-50%, -50%); /* Center the message using transform */
  z-index: 9999; /* Ensure the message appears on top */
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  transition: opacity 2s;
}